html{
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 16px;
    padding-left: 175px;
    padding-right: 175px;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    margin-left: auto;
    list-style: none;
    gap: 30px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.header-image{
    width: 450px;
    height: auto;
}